<%include  Web_Template_Pages/userProfile_headers.ejs%>
<title>Contact</title>
<div class="col-sm-6">

    <h2>My Contacts </h2>
</div>
<!-- Table for the display of the user usage history where he/she spend the credit -->
<div class="table-responsives col-lg-9" id="user_Vallet_Table">

    <table>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Email</th>
            <th>Duration</th>
            <th>Call Rate($)</th>
            <th>Total($)</th>
        </tr>
    </table>
    <table class="gfg" id="myTable">
        <tr>
            <td>12-12-19</td>
            <td>12:26</td>
            <td>Thomas</td>
            <td>1:01</td>
            <td>0.01</td>
            <td>1.52</td>
        </tr>
    </table>
</div>
</div>
</div>
<% include  Web_Template_Pages/footer.ejs %>