<%include  Web_Template_Pages/userProfile_headers.ejs%>


<h4><%= typeof message != 'undefined' ? message : ''%></h4>
<form action="/userChangePassword_POSTmethod" method="POST">

  <div class="col-lg-4">
    <label>Old Password</label>
    <input id='userProfile_city' type="text" name="old_password" placeholder="Old Password">


    <label>New Password</label>
    <input id='userProfile_city' type="text" name="new_password" placeholder="New Password">


    <label>Confirm Password</label>
    <input id='userProfile_city' type="text" name="confirm_password" placeholder="Confirm Password">

    <button type="submit" class="reg">Done</button>
</form>
</div>
</div>
<% include  Web_Template_Pages/footer.ejs %>