<% include Admin_Templates_Pages/adminHeader.ejs %>

<div class="col-lg-10">
    <div class="col-lg-10">
        <% include messages.ejs %>
    </div>
    <div class="content-area">
        <div class="col-lg-10  admin_type_manage_heading">
            <h3>Admin Type Management</h3>
            <a role="button" class="btn" id="add_Permission_Btn" data-toggle="modal" onclick="emptyField()"
                data-target="#settingModal">Add Type </a>
            <h4>List Of Types of Admin</h4>
            <br>


            <div class="row show_number_ofPages form-group">
                <label>
                    Show Numbers Of Rows
                </label>
                <div class="form-group col-lg-5">
                    <!--		Show Numbers Of Rows 		-->
                    <select class="form-control" name="state" id="maxRows">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="70">70</option>
                        <option value="100">100</option>
                        <option value="5000">Show ALL Rows</option>
                    </select>

                </div>










            </div>



        </div>

        <div class="col-lg-10">
            <table class="table admin_Manage_Table" id="admin_Management_Table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Super Admin</td>

                        <!-- Button trigger modal -->
                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Admin</td>
                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>TeleSales</td>

                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>SEO Admin</td>

                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>News Admin</td>

                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Content Admin</td>

                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>News Admin</td>

                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Content Admin</td>

                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>News Admin</td>

                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Content Admin</td>

                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>News Admin</td>

                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Content Admin</td>

                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>News Admin</td>

                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Content Admin</td>

                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>News Admin</td>

                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Content Admin</td>

                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>News Admin</td>

                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Content Admin</td>

                        <td><a role="button" data-toggle="modal" data-target="#settingModal"> <img
                                    src="/pic/setting.png" height="15px" width="15px">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="modal fade settingModal" id="settingModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Manage Admin Type</h5>
            </div>
            <div class="modal-body modalBody" id="modalBody">
                <div class="col-lg-6">
                    <!-- <label for="id">ID</label>
                    <input type="text" class="form-control" id="admin_ID" placeholder="ex:10001"> -->
                    <label for="Name">Admin Type Name</label>
                    <input type="text" class="form-control" placeholder="Super, Admin, Etc" id="type_Name">
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-lg-12">
                    <a role="button" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a role="submit" class="btn btn-danger" name="delete" value="dddddd">Delete</a>
                    <a role="submit" class="btn btn-primary" name="save">Save </a>

                </div>
            </div>
        </div>
    </div>
</div>


<!--		Start Pagination -->
<div class='pagination-container'>
    <nav>
        <ul class="pagination">
            <!--	Here the JS Function Will Add the Rows -->
        </ul>
    </nav>
</div>
<div class="rows_count">Showing 11 to 20 of 91 entries</div>



<script>

    var table = document.getElementById("admin_Management_Table")
    function emptyField() {
        document.getElementById('type_Name').value = ''
    }

    for (var i = 1; i < table.rows.length; i++) {
        table.rows[i].querySelector('a').onclick = function () {
            document.getElementById('type_Name').value = this.closest('tr').cells[2].innerHTML

        };
    }
</script>

<!-- setting the js files like the jQuery and table Pagination -->
<script src="/js/jQuery Files/jquery-3.5.1.js" type="text/javascript"></script>
<script src="/js/jQuery Files/jquery-3.5.1.min.js" type="text/javascript"></script>
<script src="/js/tablePagination.js" type="text/javascript"></script>