<% include Admin_Templates_Pages/adminHeader.ejs %>
<div class="container">
    <div class="col-lg-10">
        <% include messages.ejs %>
    </div>
    <div class="row">


        <div class="content-area">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis pariatur reprehenderit dolor commodi
                qui
                veritatis, suscipit amet molestias molestiae sapiente est dolorem sunt asperiores cupiditate architecto?
                Deleniti eligendi voluptatibus velit.</p>
            <table class="table admin_Manage_Table">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                    </tr>
                    <tr>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                    </tr>
                    <tr>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                    </tr>
                </tbody>
            </table>
        </div>




    </div>
</div>


























</body>

</html>