<% include Admin_Templates_Pages/adminHeader.ejs %>
<div class="col-lg-10">
    <div class="col-lg-10">
        <% include messages.ejs %>
    </div>
    <div class="content-area">
        <h3>Setting</h3>
    </div>
    <div class="col-lg-10 cms-form">
        <div class="col-lg-5">
            <div class="input-group-prepend">

                <h4 class="input-group-text" id="inputGroup-sizing-default">Address</h4>
                <input type="text" class="form-control"aria-describedby="inputGroup-sizing-default">

                <h4 class="input-group-text" id="inputGroup-sizing-default">Email</h4>
                <input type="text" class="form-control"aria-describedby="inputGroup-sizing-default">

                <h4 class="input-group-text" id="inputGroup-sizing-default">Linkedin</h4>
                <input type="text" class="form-control"aria-describedby="inputGroup-sizing-default">

                <h4 class="input-group-text" id="inputGroup-sizing-default">Instagram</h4>
                <input type="text" class="form-control"aria-describedby="inputGroup-sizing-default">

                <h4 class="input-group-text" id="inputGroup-sizing-default">Skype</h4>
                <input type="text" class="form-control"aria-describedby="inputGroup-sizing-default">

                <h4 class="input-group-text" id="inputGroup-sizing-default">Select Logo</h4>
                <input type="file" class="form-control" name="logo" id="">
            </div>
        </div>
        <div class="col-lg-5">
             <div class="input-group-prepend">
                
                <h4 class="input-group-text" id="inputGroup-sizing-default">Phone</h4>
                <input type="text" class="form-control"aria-describedby="inputGroup-sizing-default">

                <h4 class="input-group-text" id="inputGroup-sizing-default">Facebook</h4>
                <input type="text" class="form-control"aria-describedby="inputGroup-sizing-default">

                <h4 class="input-group-text" id="inputGroup-sizing-default">Twitter</h4>
                <input type="text" class="form-control"aria-describedby="inputGroup-sizing-default">

                <h4 class="input-group-text" id="inputGroup-sizing-default">Youtub</h4>
                <input type="text" class="form-control"aria-describedby="inputGroup-sizing-default">

                <h4 class="input-group-text" id="inputGroup-sizing-default">Footer Text</h4>
                <input type="text" class="form-control"aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
        <div class="setting-update-btn col-lg-10">
            <a role="button" class="btn" type="submit">Update</a>
        </div>
    </div>
</div>