<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
    <section class="header" style="text-align: center !important;">
        <div class="container" style="background-color: #292B2C;
        padding-top: 13px; padding-bottom: 13px;">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" id="mainLogo_Successfully_Verified_page">
                    <img src="https://www.pakeproperty.com/assets/img/pakeproperty-logo.png" alt="Main Logo">
                </div>
            </div>
        </div>
    </section>
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" id="helpDesk_Body" style="text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <h1>
            <%=user_name%>, said:</h1>

        <h3>
            <%=user_email%></h3>
        <h1>
            Subject: <%=message_subject%>!</h1>


        <!-- start copy block -->
        <div class="col-lg-12">
            <%=user_message%>
        </div>
    </div>
</body>

</html>