<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="header" style="text-align: left !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" id="mainLogo_Successfully_Verified_page">
                    <img src="/pic/voip4.jpg" alt="Main Logo">
                </div>
            </div>
        </div>
    </section>
    <div class="img-responsive" id="successfullyVerified_Image">

        <img src="pic/verified.png" alt="Successfully Verified Image">



        <h4> Successfully verified!</h4>

    </div>
    <div align="center" bgcolor="#292B2C" style="border-radius: 6px;" id="successfullyVerified_Btn">
        <a href="/user_profile">
            Back To Profile</a>
    </div>
</body>

</html>