<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="ftr-lnks">
          <h4>Solutions</h4>
          <ul>
            <li><a href='#'>Wholesale Solutions</a></li>
            <li><a href='#'>Mobile Solutions</a></li>
            <li><a href='#'>Business Solutions</a></li>
            <li><a href='#'>Residential Solutions</a></li>
            <li><a href='#'>Call Center Solutions</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ftr-lnks">
          <h4>Features</h4>
          <ul>
            <li><a href='#'>One Touch Dailing</a></li>
            <li><a href='#'>Pin-Less Dailing</a></li>
            <li><a href='#'>Call Details</a></li>
            <li><a href='#'>Auto- Refill</a></li>
            <li><a href='#'>Call Forwarding</a></li>
            <li><a href='#'>Recharge</a></li>
          </ul>

        </div>
      </div>
      <div class="col-md-3">
        <div class="ftr-lnks">
          <h4>Support</h4>
          <ul>
            <li><a href='#'>Contact us</a></li>
            <li><a href='#'>FAQ</a></li>
            <li><a href='#'>Terms & Conditions</a></li>
            <li><a href='#'>Privacy Policy</a></li>
            <li><a href='#'>Billing & Payment</a></li>
            <li><a href='#'>Connection</a></li>
            <li><a href='#'>Local Access Number</a></li>
            <li><a href='#'>Open Complaint</a></li>
            <li><a href='#'>Our Guarantee</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ftr-lnks" id="scl-mdia">
          <h4>Connect With Us</h4>
          <ul>
            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
            <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
            <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
            <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>

</html>