<section class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
          <div class="btns">
            <ul>
              <a href="/login-form">
                <li><i class="fa fa-sign-in" aria-hidden="true"></i>Login</li>
              </a>
              <a href="/signup">
                <li><i class="fa fa-user-plus" aria-hidden="true"></i>Signup</li>
              </a>
              <a href="">
                <li class="last-child"><i class="fa fa-credit-card" aria-hidden="true"></i>Buy Credit</li>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>